<div class="wrap">
    <h2>Evening Classes:</h2>
    <ul class="buttons">
        {% for item in site.data.evening %}
            <li class="buttons__item">
                <a href="{{ item.link }}" class="push">
                    <span class="push__inner">{{ item.class }}</span>
                </a>
            </li>
            {% if forloop.index == 3 or forloop.index == 6 or forloop.index == 9 %}
                </ul> <br>
                <ul class="buttons">
            {% endif %}
        {% endfor %}
    </ul>
</div>