<div class="wrap">
    <h2>Evening Classes:</h2>
    <ul class="buttons">
        <li class="buttons__item">
            <a href="{{ site.ev-l1-ln }}" class="push">
                <span class="push__inner">{{ site.ev-l1-tx }}</span>
            </a>
        </li>
        <li class="buttons__item">
            <a href="{{ site.ev-l1b-ln }}" class="push">
                <span class="push__inner">{{ site.ev-l1b-tx }}</span>
            </a>
        </li>
        <li class="buttons__item">
            <a href="{{ site.ev-l2-ln }}" class="push">
                <span class="push__inner">{{ site.ev-l2-tx }}</span>
            </a>
        </li>
    </ul>
    <span> <br> </span>
    <ul class="buttons">
        <li class="buttons__item">
            <a href="{{ site.ev-l2b-ln }}" class="push">
                <span class="push__inner">{{ site.ev-l2b-tx }}</span>
            </a>
        </li>
        <li class="buttons__item">
            <a href="{{ site.ev-l3-ln }}" class="push">
                <span class="push__inner">{{ site.ev-l3-tx }}</span>
            </a>
        </li>
        <li class="buttons__item">
            <a href="{{ site.ev-l4-ln }}" class="push">
                <span class="push__inner">{{ site.ev-l4-tx }}</span>
            </a>
        </li>
    </ul>
</div>

