<div class="wrap">
    <br>
    <h1>Zoom links to G2K classes</h1>
    <h2>Full-Time Classes:</h2>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.FTLV1-i5-20 }} >FTLV1-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.FTLV2-i5-20 }} >FTLV2-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.FTLV3-i5-20 }} >FTLV3-i5-20</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.FTLV4-i5-20 }} >FTLV4-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.FTLV5-i5-20 }} >FTLV5-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.FTLV6-i5-20 }} >FTLV6-i5-20</a>
        </li>
    </ul>
</div>
