<div class="wrap">
    <br>
    <h1>Zoom links to G2K classes</h1>
     {% include break-line.html %}
    <h2>Full-Time Classes:</h2>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-1-ln }} >{{ site.ft-1-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-2-ln }} >{{ site.ft-2-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-3-ln }} >{{ site.ft-3-tx }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-4-ln }} >{{ site.ft-4-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-5-ln }} >{{ site.ft-5-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-5-tx }} >{{ site.ft-6-ln }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-4-ln }} >{{ site.ft-4-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site. }} >{{ site.ft-9-tx }}</a>
        </li>
    </ul>
    <br>
</div>


