<div class="wrap">
    <br>
    <h1>Zoom links to G2K classes</h1>
     {% include break-line.html %}
    <h2>Full-Time Classes:</h2>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-link1 }} >{{ site.ft-text1 }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-link3 }} >{{ site.ft-text3 }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-link4 }} >{{ site.ft-text4 }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-link5 }} >{{ site.ft-text5 }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-link6 }} >{{ site.ft-text6 }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-link7 }} >{{ site.ft-text7 }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.ft-link10 }} >{{ site.ft-text10 }}</a>
        </li>
    </ul>
    <br>
</div>





