<div class="wrap">
    <h2>Part-Time Classes:</h2>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.PTL1A-i5-20 }} >PTL1A-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.PTL1B-i5-20 }} >PTL1B-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.PTL2A-i5-20 }} >PTL2A-i5-20</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.PTL3A-i5-20 }} >PTL3A-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.PTL3B-i5-20 }} >PTL3B-i5-20</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.PTL4A-i5-20 }} >PTL4A-i5-20</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.PTL6A-i5-20 }} >PTL6A-i5-20</a>
        </li>
    </ul>
</div>
