<div class="wrap">
    <h2>Part-Time Classes:</h2>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l1-ln }} >{{ site.pt-l1-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l2-ln }} >{{ site.pt-l2-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l2b-ln }} >{{ site.pt-l2b-tx }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l3-ln }} >{{ site.pt-l3-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l4-ln }} >{{ site.pt-l4-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l4b-ln }} >{{ site.pt-l4b-tx }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l5-ln }} >{{ site.pt-l5-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l6-ln }} >{{ site.pt-l6-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l7-ln }} >{{ site.pt-l7-tx }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l7b-ln }} >{{ site.pt-l7b-tx }}</a>
        </li>
    </ul>
</div>
