<div class="wrap">
    <h2>Part-Time Classes:</h2>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l1-ln }} >{{ site.pt-l1-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l2-ln }} >{{ site.pt-l2-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l4-ln }} >{{ site.pt-l4-tx }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l5-ln }} >{{ site.pt-l5-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l7-ln }} >{{ site.pt-l7-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l8-ln }} >{{ site.pt-l8-tx }}</a>
        </li>
    </ul>
    <br>
    <ul class="buttons">
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l9-ln }} >{{ site.pt-l9-tx }}</a>
        </li>
        <li class="buttons__item">
            <a class="shiney" href={{ site.pt-l10-ln }} >{{ site.pt-l10-tx }}</a>
        </li>
    </ul>
    <br>
</div>
