<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include full-time.html %}
  {% include break-line.html %}
  {% include christian-study.html %}
  {% include break-line.html %}
  {% include part-time.html %}
  {% include break-line.html %}
  {% include evening.html %}
  {% include break-line.html %}
  {% include tutoring.html %}
  {% include break-line.html %}
  {% include placement.html %}
  {% include break-line.html %}
  {% include footer.html %}
  
</body>

</html>


